<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      body {
        color: white;
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;
        margin-top: 10%;
        background: #101010;
      }

      #dropzone {
        width: 50vw;
        height: 50vh;
        border: 2px dashed #ccc;
        padding: 20px;
        text-align: center;
        font-size: 1.5em;
        margin: 20px auto;
      }

      #link a {
        margin: 20px;
        font-size: 1.5em;
        color: white;
      }

      #key-input {
        background-color: transparent;
        color: white;
        border-radius: 10px;
        border: 2px solid white;
        padding: 15px;
      }

      #api-key {
        margin: 20px;
        font-size: 1.5em;
      }
    </style>
  </head>
  <body>
    <div id="api-key">
      <label for="key-input">Enter API key:</label>
      <br />
      <br />
      <input type="text" id="key-input" />
      <br />
      <p id="key-button" style="font-size: 0.7em">Submit</p>
    </div>
    <div id="dropzone" style="display: none">Drop files here to upload</div>
    <div id="link"></div>
    <script>
      $(document).ready(function () {
        let dropzone = $("#dropzone");
        let apiKey = "";
        let domains = ["https://im.sleepdeprived.wtf/", "https://example.com/"];

        $("#key-button").click(function () {
          apiKey = $("#key-input").val();
          $("#api-key").hide();
          dropzone.show();
        });

        dropzone.on("dragover", function () {
          dropzone.css("background-color", "#eee");
          return false;
        });

        dropzone.on("dragleave", function () {
          dropzone.css("background-color", "");
          return false;
        });

        dropzone.on("drop", function (e) {
          e.preventDefault();
          dropzone.css("background-color", "");

          let formData = new FormData();
          formData.append("sharex", e.originalEvent.dataTransfer.files[0]);

          $.ajax({
            url: "/api/upload",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            headers: {
              key: apiKey,
            },
            success: function (data) {
              let domain = domains[Math.floor(Math.random() * domains.length)];
              let link = domain + data.url;
              $("#link")
                .html("<a href='" + link + "'>" + link + "</a>")
                .addClass("link");
            },
            error: function (xhr, status, error) {
              alert("Error uploading file: " + error);
            },
          });
        });

        dropzone.on("click", function () {
          let fileInput = $("<input type='file' style='display: none;'>");
          fileInput.on("change", function () {
            let formData = new FormData();
            formData.append("sharex", fileInput[0].files[0]);

            $.ajax({
              url: "/api/upload",
              type: "POST",
              data: formData,
              processData: false,
              contentType: false,
              headers: {
                key: apiKey,
              },
              success: function (data) {
                let domain =
                  domains[Math.floor(Math.random() * domains.length)];
                let link = domain + data.url;
                $("#link")
                  .html("<a href='" + link + "'>" + link + "</a>")
                  .addClass("link");
              },
              error: function (xhr, status, error) {
                alert("Error uploading file: " + error);
              },
            });
          });
          fileInput.click();
        });
      });
    </script>
  </body>
</html>
